@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-transition: .5s;
  transition: .5s;
}

.skills-list {
  margin-top: 0;
  margin-bottom: 0;
}

.skills-list li {
  text-align: center;
  margin: 0 2rem;
}

.project-container h4 {
  margin-bottom: 2rem;
}

.slide-carousel {
  width: 10rem;
}

.muted-content {
  color: grey;
}

.highlight1 {
  color: #3399ff;
}

.index-dark {
  background: #2b2b2c;
  -webkit-box-shadow: 0 0 200px #1c1d25 inset;
          box-shadow: 0 0 200px #1c1d25 inset;
  color: white;
}

.index-light {
  background: white;
  -webkit-box-shadow: 0 0 200px #ffffff inset;
          box-shadow: 0 0 200px #ffffff inset;
  color: #2b2b2c;
}

.landing-sect {
  padding: 15px;
  height: 93vh;
}

.intro-sect {
  height: 40vh;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

#topNav {
  margin: 0;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#topNav ul {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.5rem;
}

#topNav ul li {
  margin: 0 1.5rem;
}

#topNav ul li a {
  text-decoration: none;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
  font-weight: 700;
}

#topNav img {
  height: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.headerBg {
  padding: 5px 15px !important;
}

.headerBg ul li {
  font-size: 1.2rem;
}

.theme-dark {
  background-color: #2b2b2c;
  -webkit-box-shadow: 0 0 200px #1c1d25 inset;
          box-shadow: 0 0 200px #1c1d25 inset;
  color: lightgray;
}

.theme-dark #topNav ul li a {
  color: #b3b3b3;
}

.theme-dark .headerBg {
  background-color: #ffffffe8;
}

.theme-dark .headerBg ul li a {
  color: #252525 !important;
}

.theme-dark .social-links svg, .theme-dark .social-bottom svg {
  fill: #a5a5a5;
}

.theme-dark .project-container {
  -webkit-box-shadow: 1px 3px 10px 1px #0c0c0c91;
          box-shadow: 1px 3px 10px 1px #0c0c0c91;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 70px;
  margin-bottom: 70px;
}

.theme-dark .carousel-control-prev, .theme-dark .carousel-control-next {
  color: white;
  z-index: 0;
  font-size: 3rem;
}

.theme-light {
  background-color: white !important;
  -webkit-box-shadow: 0 0 200px #dddddd inset !important;
          box-shadow: 0 0 200px #dddddd inset !important;
  color: #2b2b2c !important;
}

.theme-light #topNav ul li a {
  color: #5e5e5e;
}

.theme-light .headerBg {
  background-color: #000000b0;
}

.theme-light .headerBg ul li a {
  color: #f8f9fa !important;
}

.theme-light .social-links svg, .theme-light .social-bottom svg {
  fill: #2b2b2c;
}

.theme-light .project-container {
  -webkit-box-shadow: 1px 3px 10px 1px #b4b4b491;
          box-shadow: 1px 3px 10px 1px #b4b4b491;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 70px;
  margin-bottom: 70px;
}

.theme-light .carousel-control-prev, .theme-light .carousel-control-next {
  color: black;
  font-size: 3rem;
  z-index: 0;
}

.title {
  font-size: 4rem;
  font-family: 'Spartan', sans-serif;
  margin: 0;
}

.menuBtn {
  font-size: 30px;
  width: 60px;
  height: 45px;
  cursor: pointer;
  display: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.menuBtn span {
  height: 5px;
  display: block;
  border-radius: 9px;
  opacity: 1;
  background: -webkit-gradient(linear, left top, right top, from(#f06449), to(#f12424));
  background: linear-gradient(to right, #f06449 0%, #f12424 100%);
  margin: 9px 0;
}

.menuBtn span:nth-child(1) {
  top: 18px;
  width: 100%;
}

.menuBtn span:nth-child(2) {
  top: 36px;
  width: 70%;
}

.menuBtn span:nth-child(3) {
  top: 0px;
  width: 40%;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, right top, from(#3399ff9c), to(#6600ffa8));
  background: linear-gradient(to top right, #3399ff9c 0%, #6600ffa8 100%);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  font-family: 'Spartan', sans-serif;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ee5637;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.d-none {
  display: none;
}

.project-info-container {
  padding-left: 15px;
}

.landing-intro {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15% 0;
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-position-x: 50%;
  background-size: 150px;
}

.landing-intro .blurb {
  font-size: 1rem;
  font-family: 'spartan', sans-serif;
  width: 60%;
}

.landing-intro .social-links {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
}

.landing-intro .social-links svg {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.landing-intro .social-links #codepen-logo, .landing-intro .social-links circle {
  fill: none;
  stroke: #a5a5a5;
  width: 35px;
  height: 35px;
}

.projects-intro {
  height: 70vh;
  z-index: 10;
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-position-x: 50%;
  background-size: 150px;
}

.social-links svg:hover {
  fill: #0185ddb6;
  -webkit-transition: .5s;
  transition: .5s;
}

@media only screen and (max-width: 800px) {
  nav ul {
    font-size: 1.5rem;
    font-weight: 400;
  }
  header .title h1 {
    font-size: 2.3rem;
  }
  header a, header img {
    height: 80px;
  }
  .intro-sect {
    height: 10vh;
  }
}

@media only screen and (max-width: 650px) {
  .title,
  nav {
    display: none;
  }
  .landing-intro .blurb {
    width: 100%;
  }
  header {
    margin-top: 5px;
  }
  header a, header img {
    -ms-grid-column-align: start;
        justify-self: start;
    height: 50px;
  }
  .menuBtn {
    display: block;
  }
  .skills-list li img {
    width: 2rem;
  }
  .project-container {
    width: 95% !important;
  }
  .project-container .project-info-container {
    text-align: center !important;
  }
}

.onscroll-fromLeft, .onscroll-fromRight, .onscroll-fromTop, .onscroll-fromBottom {
  visibility: hidden;
}

.slideFromRight, .skills-list li:nth-of-type(odd), .theme-btn-container {
  -webkit-animation: slideFromRight 1s forwards;
          animation: slideFromRight 1s forwards;
}

@-webkit-keyframes slideFromRight {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.slideFromLeft, .skills-list li:nth-of-type(even) {
  -webkit-animation: slideFromLeft 1s forwards;
          animation: slideFromLeft 1s forwards;
}

@-webkit-keyframes slideFromLeft {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

.slideFromTop, .gradient-title {
  -webkit-animation: slideFromTop 1s forwards;
          animation: slideFromTop 1s forwards;
}

@-webkit-keyframes slideFromTop {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideFromTop {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.slideFromBottom {
  -webkit-animation: slideFromBottom 1s forwards;
          animation: slideFromBottom 1s forwards;
}

@-webkit-keyframes slideFromBottom {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideFromBottom {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#logo {
  -webkit-animation: logoRotate 20s forwards;
          animation: logoRotate 20s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.spinAnimation {
  -webkit-animation: logoRotate 20s forwards;
          animation: logoRotate 20s forwards;
}

@-webkit-keyframes logoRotate {
  0% {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
  10% {
    -webkit-transform: rotate3d(1, 0.5, 0, 90deg);
            transform: rotate3d(1, 0.5, 0, 90deg);
  }
  15% {
    -webkit-transform: rotate3d(1, 0.5, 0, 180deg);
            transform: rotate3d(1, 0.5, 0, 180deg);
  }
  20% {
    -webkit-transform: rotate3d(0, 0.5, 1, 270deg);
            transform: rotate3d(0, 0.5, 1, 270deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes logoRotate {
  0% {
    -webkit-transform: rotate3d(1, 0, 0, 0deg);
            transform: rotate3d(1, 0, 0, 0deg);
  }
  10% {
    -webkit-transform: rotate3d(1, 0.5, 0, 90deg);
            transform: rotate3d(1, 0.5, 0, 90deg);
  }
  15% {
    -webkit-transform: rotate3d(1, 0.5, 0, 180deg);
            transform: rotate3d(1, 0.5, 0, 180deg);
  }
  20% {
    -webkit-transform: rotate3d(0, 0.5, 1, 270deg);
            transform: rotate3d(0, 0.5, 1, 270deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
            transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

#topNav nav ul li {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
}

#topNav nav ul li:nth-child(1), #primary-header nav ul li:nth-child(1) {
  -webkit-animation: dropfade1 1s forwards;
          animation: dropfade1 1s forwards;
}

@-webkit-keyframes dropfade1 {
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
  }
}

@keyframes dropfade1 {
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
  }
}

#topNav nav ul li:nth-child(2), #primary-header nav ul li:nth-child(2) {
  -webkit-animation: dropfade2 1.5s forwards;
          animation: dropfade2 1.5s forwards;
}

@-webkit-keyframes dropfade2 {
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
  }
}

@keyframes dropfade2 {
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
  }
}

#topNav nav ul li:nth-child(3), #primary-header nav ul li:nth-child(3) {
  -webkit-animation: dropfade3 2s forwards;
          animation: dropfade3 2s forwards;
}

@-webkit-keyframes dropfade3 {
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
  }
}

@keyframes dropfade3 {
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
  }
}

.gradient-text, .title, nav ul li a:hover {
  background: -webkit-linear-gradient(#f06449, #ef3636);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.gradient-text-blue {
  background: -webkit-linear-gradient(#4991f0, #e036ef);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.gradient-title {
  text-align: center;
  font-size: 4rem;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  background: -webkit-linear-gradient(#f06449, #ef3636);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

main {
  margin-top: 25px;
  padding: 25px 5%;
}

.latest-item {
  background: -webkit-gradient(linear, left bottom, right top, from(#51a6fc), to(#8656ce));
  background: linear-gradient(to top right, #51a6fc 0%, #8656ce 100%);
  padding: 15px;
  border-radius: 5px;
  margin: 50px 0;
  -webkit-box-shadow: #9e9e9e 0px 0px 15px 0px;
          box-shadow: #9e9e9e 0px 0px 15px 0px;
}

.latest-item h3 {
  color: white;
  font-size: 2rem;
  margin-top: 0;
}

.latest-item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

.latest-item .content img {
  height: 150px;
  width: 150px;
  margin-right: 10px;
  border: 1px solid #f06449;
  border-radius: 10px;
}

.latest-item .content .text {
  width: 70%;
  color: #616161;
  border-radius: 10px;
  padding: 0 10px;
  background: white;
}

@media only screen and (max-width: 800px) {
  .latest-sect h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .latest-sect h1 {
    font-size: 2rem;
  }
  .latest-item .content img {
    display: none;
  }
  .latest-item .content .text {
    width: 100%;
  }
}

.theme-btn-container {
  padding: 0 5%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.theme-btn-container svg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

#dark-theme-icon {
  fill: #252525;
}

#light-theme-icon {
  fill: #a5a5a5;
}

.social-bottom {
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-bottom svg {
  width: 30px;
  height: 30px;
  fill: #252525;
  margin: 0 10px;
}

.social-bottom #codepen-logo, .social-bottom circle {
  fill: none;
  stroke: #252525;
  width: 35px;
  height: 35px;
}

.social-bottom svg:hover {
  fill: #0185ddb6;
  -webkit-transition: .5s;
  transition: .5s;
}

footer {
  text-align: center;
  padding: 20px 0;
  color: #a5a5a5;
}

#library-head {
  height: 5rem;
}

.library {
  background: #252525;
  background: -webkit-gradient(linear, left top, left bottom, from(#242429), to(#3f3f3f));
  background: linear-gradient(to bottom, #242429 0%, #3f3f3f 100%);
  color: white;
  padding: 20px 5%;
  margin-bottom: 50px;
  border-bottom: 3px solid #ee5637;
}

.book-group h3 {
  font-size: 1.5rem;
  font-family: 'Spartan', sans-serif;
}

.book-group p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.book-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.book-list li {
  margin: 20px 5%;
}

.book-list img {
  height: 250px;
  border-radius: 10px;
}

.book-list img:hover {
  -webkit-box-shadow: #0e314d 0px 0px 15px 3px;
          box-shadow: #0e314d 0px 0px 15px 3px;
  border-radius: 3px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media only screen and (max-width: 800px) {
  .book-list img {
    height: 200px;
  }
}

@media only screen and (max-width: 650px) {
  .book-list img {
    height: 170px;
  }
  .book-group h3 {
    font-size: 1.2rem;
  }
}

#contact-form {
  max-width: 30rem;
}

#contact-form input, #contact-form textarea {
  border-radius: 0px;
}

.pixel {
  position: absolute;
  color: red;
  font-size: 2rem;
  text-shadow: 7px 0px 3px #1042ab;
  -webkit-transition: 5s;
  transition: 5s;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
  max-height: 600px;
  border-radius: 5px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #f44336bd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  -webkit-box-shadow: 20px 20px 3px #00000080;
          box-shadow: 20px 20px 3px #00000080;
}

.event-container {
  padding: 15px 30px;
  position: relative;
  width: 50%;
}

.event-container.left {
  left: 0;
}

.event-container.right {
  left: 50%;
}

.event-container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
  -webkit-filter: drop-shadow(20px 20px 2px #00000080);
          filter: drop-shadow(20px 20px 2px #00000080);
}

.event-container.right::after {
  left: -8px;
}

.event-container::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #f44336bd;
  z-index: 0;
  -webkit-filter: drop-shadow(20px 20px 2px #00000080);
          filter: drop-shadow(20px 20px 2px #00000080);
}

.event-container.right::before {
  left: 8px;
}

.event-container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.event-container.left .date {
  right: -90px;
}

.event-container.right .date {
  left: -90px;
}

.event-container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  border: 2px solid #f44336;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 0;
  -webkit-box-shadow: 3px 4px 9px #00000087;
          box-shadow: 3px 4px 9px #00000087;
}

.event-container.left .icon {
  right: 56px;
}

.event-container.right .icon {
  left: 56px;
}

.event-container .content {
  padding: 30px;
  position: relative;
  border: 2px solid #f44336bd;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-filter: drop-shadow(20px 20px 3px #00000080);
          filter: drop-shadow(20px 20px 3px #00000080);
}

.event-container .content h2 {
  margin: 0 0 10px 0;
  font-size: 1.1rem;
  font-weight: normal;
  color: #006E51;
}

.event-container .content ul {
  margin: 0;
  font-size: .9rem;
  line-height: 22px;
}

@media (max-width: 767.98px) {
  .timeline {
    overflow-y: scroll;
  }
  .timeline::after {
    left: 10px;
  }
  .event-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 30px;
  }
  .event-container .content h2 {
    font-size: 1rem;
  }
  .event-container .content ul {
    font-size: .8rem;
  }
  .event-container.right {
    left: 0%;
  }
  .event-container.left::after,
  .event-container.right::after {
    left: 82px;
    display: none;
  }
  .event-container.left::before,
  .event-container.right::before {
    left: 97px;
    border-color: transparent #006E51 transparent transparent;
    display: none;
  }
  .event-container.left .date,
  .event-container.right .date {
    right: auto;
    left: 0px;
    font-size: .7rem;
    border: 1px solid #f44336bd;
    border-radius: 3px;
    padding: 4px;
    background-color: #f7f7f7;
  }
  .event-container.left .icon,
  .event-container.right .icon {
    right: auto;
    left: 146px;
  }
  .event-container .content {
    padding: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */