* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Spartan', sans-serif;
*/
.landing-sect {
  color: white;
  background: #2b2b2c;
  -webkit-box-shadow: 0 0 200px #1c1d25 inset;
          box-shadow: 0 0 200px #1c1d25 inset;
  padding: 15px;
  height: 100vh;
}

.intro-sect {
  height: 40vh;
}

#secondary-header {
  margin: 0;
  background: #2b2b2c;
  -webkit-box-shadow: 0 0 200px #1c1d25 inset;
          box-shadow: 0 0 200px #1c1d25 inset;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#secondary-header ul {
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.5rem;
}

#secondary-header ul li {
  margin: 0 1.5rem;
}

#secondary-header ul li a {
  color: #b3b3b3;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
  font-weight: 700;
}

#secondary-header img {
  height: 50px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.hr-bottom-shadow {
  margin: 0;
  -webkit-box-shadow: 0px 3px 10px 1px #2b2b2c;
          box-shadow: 0px 3px 10px 1px #2b2b2c;
  border: none;
  color: #2b2b2c;
}

#primary-header {
  margin: 50px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

#primary-header a, #primary-header img {
  height: 150px;
  -ms-grid-column-align: center;
      justify-self: center;
}

#primary-header .title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

#primary-header .title h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: 'Spartan', sans-serif;
  margin: 0;
}

#primary-header .title p {
  font-family: 'Spartan', sans-serif;
}

/* NAV */
#primary-header nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

#primary-header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2rem;
}

#primary-header nav ul li a {
  color: #b3b3b3;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
  padding: 5px 10px;
  font-weight: 700;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: -webkit-gradient(linear, right top, left top, from(#f06449), to(#ef3636));
  background: linear-gradient(270deg, #f06449, #ef3636);
  height: 1px;
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

.active-link {
  background: -webkit-linear-gradient(#f06449, #ef3636);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active-link:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}

nav ul li a:hover {
  z-index: 1;
  color: white;
}

nav ul li a:hover:after {
  z-index: -10;
  animation: fill .5s forwards;
  -webkit-animation: fill .5s forwards;
  -moz-animation: fill .5s forwards;
  opacity: 1;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

.menuBtn {
  width: 60px;
  height: 45px;
  cursor: pointer;
  display: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.menuBtn span {
  height: 5px;
  display: block;
  border-radius: 9px;
  opacity: 1;
  background: -webkit-gradient(linear, left top, right top, from(#f06449), to(#f12424));
  background: linear-gradient(to right, #f06449 0%, #f12424 100%);
  margin: 9px 0;
}

.menuBtn span:nth-child(1) {
  top: 18px;
  width: 100%;
}

.menuBtn span:nth-child(2) {
  top: 36px;
  width: 70%;
}

.menuBtn span:nth-child(3) {
  top: 0px;
  width: 40%;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, right top, from(#3399ff), to(#6600ff));
  background: linear-gradient(to top right, #3399ff 0%, #6600ff 100%);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  font-family: 'Spartan', sans-serif;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ee5637;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.landing-intro {
  height: 70vh;
  z-index: 10;
  background-image: url("img/logotest2.png");
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% auto;
      grid-template-columns: 50% auto;
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-position-x: 50%;
  background-size: 150px;
}

.landing-intro p {
  font-size: 1.8rem;
  font-family: 'spartan', sans-serif;
}

.landing-intro .social-links {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-intro .social-links svg {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  fill: #a5a5a5;
}

.landing-intro .social-links #codepen-logo, .landing-intro .social-links circle {
  fill: none;
  stroke: #a5a5a5;
  width: 35px;
  height: 35px;
}

.projects-intro {
  height: 70vh;
  z-index: 10;
  background-repeat: no-repeat;
  background-position-y: 25%;
  background-position-x: 50%;
  background-size: 150px;
}

.social-links svg:hover {
  fill: #0185ddb6;
  -webkit-transition: .5s;
  transition: .5s;
}

@media only screen and (max-width: 800px) {
  nav ul {
    font-size: 1.5rem;
    font-weight: 400;
  }
  header .title h1 {
    font-size: 2.3rem;
  }
  header a, header img {
    height: 80px;
  }
  .landing-intro {
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
  }
  .landing-intro p {
    font-size: 1.5rem;
    margin-top: 50px;
  }
  .intro-sect {
    height: 10vh;
  }
}

@media only screen and (max-width: 650px) {
  .title,
  nav {
    display: none;
  }
  .landing-intro {
    -ms-grid-columns: 80% auto;
        grid-template-columns: 80% auto;
  }
  .landing-intro p {
    font-size: 1.4rem;
  }
  header {
    margin-top: 5px;
  }
  header a, header img {
    -ms-grid-column-align: start;
        justify-self: start;
    height: 50px;
  }
  .menuBtn {
    display: block;
  }
}

canvas {
  position: absolute;
}

.gradient-title {
  text-align: center;
  font-size: 4rem;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  background: -webkit-linear-gradient(#f06449, #ef3636);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.latest-sect {
  margin-top: 50px;
  padding: 25px 5%;
}

.latest-sect h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  background: -webkit-linear-gradient(#f06449, #ef3636);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.latest-item {
  background: -webkit-gradient(linear, left bottom, right top, from(#51a6fc), to(#8656ce));
  background: linear-gradient(to top right, #51a6fc 0%, #8656ce 100%);
  padding: 15px;
  border-radius: 5px;
  margin: 50px 0;
  -webkit-box-shadow: #9e9e9e 0px 0px 15px 0px;
          box-shadow: #9e9e9e 0px 0px 15px 0px;
}

.latest-item h3 {
  color: white;
  font-size: 2rem;
  margin-top: 0;
}

.latest-item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

.latest-item .content img {
  height: 150px;
  width: 150px;
  margin-right: 10px;
  border: 1px solid #f06449;
  border-radius: 10px;
}

.latest-item .content .text {
  width: 70%;
  color: #616161;
  border-radius: 10px;
  padding: 0 10px;
  background: white;
}

@media only screen and (max-width: 800px) {
  .latest-sect h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .latest-sect h1 {
    font-size: 2rem;
  }
  .latest-item .content img {
    display: none;
  }
  .latest-item .content .text {
    width: 100%;
  }
}

.social-bottom {
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-bottom svg {
  width: 30px;
  height: 30px;
  fill: #252525;
  margin: 0 10px;
}

.social-bottom #codepen-logo, .social-bottom circle {
  fill: none;
  stroke: #252525;
  width: 35px;
  height: 35px;
}

.social-bottom svg:hover {
  fill: #0185ddb6;
  -webkit-transition: .5s;
  transition: .5s;
}

footer {
  text-align: center;
  margin: 20px 0;
  color: #a5a5a5;
}

#library-head {
  height: 5rem;
}

.library {
  background: #252525;
  background: -webkit-gradient(linear, left top, left bottom, from(#242429), to(#3f3f3f));
  background: linear-gradient(to bottom, #242429 0%, #3f3f3f 100%);
  color: white;
  padding: 20px 5%;
  margin-bottom: 50px;
  border-bottom: 3px solid #ee5637;
}

.book-group h3 {
  font-size: 1.5rem;
  font-family: 'Spartan', sans-serif;
}

.book-group p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.book-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.book-list li {
  margin: 20px 5%;
}

.book-list img {
  height: 250px;
  border-radius: 10px;
}

.book-list img:hover {
  -webkit-box-shadow: #0e314d 0px 0px 15px 3px;
          box-shadow: #0e314d 0px 0px 15px 3px;
  border-radius: 3px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media only screen and (max-width: 800px) {
  .book-list img {
    height: 200px;
  }
}

@media only screen and (max-width: 650px) {
  .book-list img {
    height: 170px;
  }
  .book-group h3 {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=styles.css.map */