@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: .5s;
}
.skills-list {
    margin-top: 0;
    margin-bottom: 0;
    li:nth-of-type(even) {
        @extend .slideFromLeft
    }
    li:nth-of-type(odd) {
        @extend .slideFromRight
    }
    li {
        text-align: center;
        margin: 0 2rem;
    }
}
.project-container {
    h4 {
        margin-bottom: 2rem;
    }
}
.slide-carousel {
    width: 10rem;
}
.muted-content {
    color: grey;
}
.highlight1 {
    color: #3399ff;
}
.index-dark {
    background: #2b2b2c;
    box-shadow: 0 0 200px #1c1d25 inset;
    color: white;
}
.index-light {
        background: white;
        box-shadow: 0 0 200px #ffffff inset;
        color: #2b2b2c
}
.landing-sect {
    padding: 15px;
    height: 93vh;
}
.intro-sect {
    height: 40vh;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
}
#topNav {
    margin: 0;
    transition: .5s;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
        li {
            margin: 0 1.5rem;
            a {
                text-decoration: none;
                position: relative;
                transition: all 2s;
                font-weight: 700;
            }
        }
    }
    img {
        height: 50px;
        justify-self: center;
    }      
}
.headerBg {
    padding: 5px 15px !important;
    ul li {
        font-size: 1.2rem;
    }
}
.theme-dark {
    #topNav ul li a {
        color: rgb(179, 179, 179);
    }
    .headerBg {
        background-color: #ffffffe8;
        ul li a {
            color: #252525 !important;
        }
    }
    background-color: #2b2b2c;
    box-shadow: 0 0 200px #1c1d25 inset;
    color: lightgray;
    .social-links svg, .social-bottom svg {
        fill: #a5a5a5;
    }
    .project-container {
        box-shadow: 1px 3px 10px 1px #0c0c0c91;
        border-radius: 1rem;
        padding: 2rem;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .carousel-control-prev, .carousel-control-prev {
        color: white;
    }
}
.theme-light {
    #topNav ul li a {
        color: #5e5e5e;
    }
    .headerBg {
        background-color: #000000b0;
        ul li a {
            color: #f8f9fa !important;
        }
    }
    background-color: white !important;
    box-shadow: 0 0 200px #dddddd inset !important;
    color: #2b2b2c !important;
    .social-links svg, .social-bottom svg {
        fill: #2b2b2c;
    }
    .project-container {
        box-shadow: 1px 3px 10px 1px #b4b4b491;
        border-radius: 1rem;
        padding: 2rem;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        color: black;
        font-size: 3rem;
    }
}
.title {
        font-size: 4rem;
        font-family: 'Spartan', sans-serif;
        margin: 0;     
        @extend .gradient-text;
}
nav ul li a:hover {
    @extend .gradient-text;
}
//SIDE PANEL MENU
.menuBtn {
    font-size:30px;
    width: 60px;
    height: 45px;
    cursor: pointer;
    display: none;
    grid-column: 2/3;
    justify-self: end;
    span {
        height: 5px;
        display: block;
        border-radius: 9px;
        opacity: 1;
        background: linear-gradient(to right,#f06449 0%, #f12424 100%);
        margin: 9px 0;
    }
}
.menuBtn span:nth-child(1) {
    top: 18px;
    width: 100%;
}
.menuBtn span:nth-child(2) {
top: 36px;
width: 70%;
}
.menuBtn span:nth-child(3) {
    top: 0px;
    width: 40%;
}
.overlay {
height: 100%;
width: 0;
position: fixed;
z-index: 5;
top: 0;
left: 0;
background: linear-gradient(to top right, #3399ff9c 0%, #6600ffa8 100%);
overflow-x: hidden;
transition: 0.5s;
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
font-family: 'Spartan', sans-serif;
margin-top: 30px;
}

.overlay a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: white;
display: block;
transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
color: #ee5637;
}

.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

.d-none {
    display: none;
}
.project-info-container {
    overflow-y: scroll;
    // height: 21rem;
    padding-left: 15px;
}
.landing-intro {
    z-index: 10;
    display: flex;
    align-items: center;
    margin: 15% 0;
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-position-x: 50%;
    background-size: 150px;
    .blurb {
        font-size: 1rem;
        font-family: 'spartan', sans-serif;
        width: 60%;
    }
    .social-links {
        justify-self: end;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        svg {
            width: 30px;
            height: 30px;
            margin-top: 20px;
        }
        #codepen-logo, circle {
            fill: none;
            stroke: #a5a5a5;
            width: 35px;
            height: 35px;
        }
    }
}
.projects-intro {
    height: 70vh;
    z-index: 10;
    background-repeat: no-repeat;
    background-position-y: 25%;
    background-position-x: 50%;
    background-size: 150px;
}
.social-links svg:hover {
    fill: #0185ddb6;
    transition: .5s;
}

@media only screen and (max-width: 800px) {
    nav ul {
        font-size: 1.5rem;
        font-weight: 400;
    }
    header .title h1 {
        font-size: 2.3rem;
    }
    header a, header img {
        height: 80px;
    }
    .intro-sect {
        height: 10vh;
    }
}
@media only screen and (max-width: 650px) {
    .title,
    nav {
        display: none;
    }
    .landing-intro {
    .blurb {
            width: 100%;
        }
    }
    header {
        margin-top: 5px;
    }
    header a, header img {
        justify-self: start;
        height: 50px;
    }
    .menuBtn {
        display: block;
    }
    .skills-list {
        li {
            img {
                width: 2rem;
            }
        }
    }
    .project-container {
        width: 95% !important;
        .project-info-container {
            text-align: center !important;
        }
    }
}
//----------SILDE ANIMATIONS---------------------
.onscroll-fromLeft, .onscroll-fromRight, .onscroll-fromTop, .onscroll-fromBottom { visibility: hidden }

.slideFromRight {
    animation: slideFromRight 1s forwards;
}
@keyframes slideFromRight {
    0% {
        opacity: 0.1;
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.slideFromLeft {
    animation: slideFromLeft 1s forwards;
}
@keyframes slideFromLeft {
    0% {
        opacity: 0.1;
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.slideFromTop {
    animation: slideFromTop 1s forwards;
}
@keyframes slideFromTop {
    0% {
        opacity: 0.1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.slideFromBottom {
    animation: slideFromBottom 1s forwards;
}
@keyframes slideFromBottom {
    0% {
        opacity: 0.1;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
//---------------------------------------------
#logo {
    animation: logoRotate 20s forwards;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}
.spinAnimation {
    animation: logoRotate 20s forwards;
}
@keyframes logoRotate {
    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
    10% {
        transform: rotate3d(1, .5, 0, 90deg);
    }
    15% {
        transform: rotate3d(1, .5, 0, 180deg);
    }
    20% {
        transform: rotate3d(0, .5, 1, 270deg);
    }
    50% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

//--------------------------------
#topNav nav ul li {
    transform: translateY(-10px);
    opacity: 0;
}
//LI 1
#topNav nav ul li:nth-child(1), #primary-header nav ul li:nth-child(1) {
    animation: dropfade1 1s forwards;
}
@keyframes dropfade1 {
    100% {
        transform: translateY(5px);
        opacity: 1;
    }
}
//LI 2
#topNav nav ul li:nth-child(2), #primary-header nav ul li:nth-child(2) {
    animation: dropfade2 1.5s forwards;
}
@keyframes dropfade2 {
    100% {
        transform: translateY(5px);
        opacity: 1;
    }
}//LI 3
#topNav nav ul li:nth-child(3), #primary-header nav ul li:nth-child(3) {
    animation: dropfade3 2s forwards;
}
@keyframes dropfade3 {
    100% {
        transform: translateY(5px);
        opacity: 1;
    }
}
//---------------------
.gradient-text {
    background: -webkit-linear-gradient(#f06449, #ef3636);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.gradient-text-blue {
    background: -webkit-linear-gradient(#4991f0, #e036ef);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.gradient-title {
    text-align: center;
    font-size: 4rem;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    background: -webkit-linear-gradient(#f06449, #ef3636);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    @extend .slideFromTop;
}
//---------------------------
main {
    margin-top: 25px;
    padding: 25px 5%;
}
.latest-item {
    background: linear-gradient(to top right, #51a6fc 0%, #8656ce 100%);
    padding: 15px;
    border-radius: 5px;
    margin: 50px 0;
    box-shadow: #9e9e9e 0px 0px 15px 0px;
    h3 {
        color: white;
        font-size: 2rem;
        margin-top: 0;
    }
    .content {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        img {
            height: 150px;
            width: 150px;
            margin-right: 10px;
            border: 1px solid #f06449;
            border-radius: 10px;
        }
        .text {
            width: 70%;
            color: #616161;
            border-radius: 10px;
            padding: 0 10px;
            background: white;
        }
    }
}

@media only screen and (max-width: 800px) {
    .latest-sect {
        h1 {
            font-size: 3rem;
        }
    }
}

@media only screen and (max-width: 650px) {
    .latest-sect {
        h1 {
            font-size: 2rem;
        }
    }
    .latest-item .content img {
        display: none;
    }
    .latest-item .content .text {
        width: 100%;
    }
}

.theme-btn-container {
    @extend .slideFromRight;
    padding: 0 5%;
    margin-top: 10px;
    display: flex;
    justify-content: end;
    svg {
        width: 30px;
        height: 30px;
        margin: 0 10px; 
    }
}
#dark-theme-icon {
    fill: #252525;
}
#light-theme-icon {
    fill: #a5a5a5;
}

.social-bottom {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    svg {
        width: 30px;
        height: 30px;
        fill: #252525;
        margin: 0 10px;
    }
    #codepen-logo, circle {
        fill: none;
        stroke: #252525;
        width: 35px;
        height: 35px;
    }
}
.social-bottom svg:hover {
    fill: #0185ddb6;
    transition: .5s;
}
footer {
    text-align: center;
    padding: 20px 0;
    color: #a5a5a5;
}


// -----------------------LIBRARY PAGE------------------------------------------------

#library-head {
    height: 5rem;
}
.library {
    background: #252525;
    background: linear-gradient(to bottom, #242429 0%, #3f3f3f 100%);
    color: white;
    padding: 20px 5%;
    margin-bottom: 50px;
    border-bottom: 3px solid #ee5637;
}
.book-group {
    h3 {
        font-size: 1.5rem;
        font-family: 'Spartan', sans-serif;
    }
    p {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
}
.book-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    li {
        margin: 20px 5%;
        
        
    }
    img {
        height: 250px;
        border-radius: 10px;
        // box-shadow: #0e314d 0px 0px 15px 0px;
    }


}
.book-list img:hover {
    box-shadow: #0e314d 0px 0px 15px 3px;
    border-radius: 3px;
    transition: .5s;
}
@media only screen and (max-width: 800px) {
    .book-list img {
        height: 200px;
    }
}

@media only screen and (max-width: 650px) {
    .book-list img {
        height: 170px;
    }
    .book-group h3 {
        font-size: 1.2rem;
    }
}

#contact-form {
    max-width: 30rem;
    input, textarea {
        border-radius: 0px;
    }
}

// --------------------------------
.pixel {
    position: absolute;
    // background: red;
    color: red;
    font-size: 2rem;
    text-shadow: 7px 0px 3px #1042ab;
    transition: 5s;
}

//TIMELINE

*,
*::before,
*::after {
  box-sizing: border-box;
}
.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
    max-height: 600px;
    border-radius: 5px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #f44336bd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  box-shadow: 20px 20px 3px #00000080;
}

.event-container {
  padding: 15px 30px;
  position: relative;
  width: 50%;
}

.event-container.left {
  left: 0;
}

.event-container.right {
  left: 50%;
}

.event-container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
  filter: drop-shadow(20px 20px 2px #00000080);
}

.event-container.right::after {
  left: -8px;
}

.event-container::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #f44336bd;
  z-index: 0;
  filter: drop-shadow(20px 20px 2px #00000080);
}

.event-container.right::before {
  left: 8px;
}

.event-container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.event-container.left .date {
  right: -90px;
}

.event-container.right .date {
  left: -90px;
}

.event-container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  border: 2px solid #f44336;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 0;
  box-shadow: 3px 4px 9px #00000087;
}

.event-container.left .icon {
  right: 56px;
}

.event-container.right .icon {
  left: 56px;
}

.event-container .content {
  padding: 30px;
  position: relative;
  border: 2px solid #f44336bd;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  filter: drop-shadow(20px 20px 3px #00000080);
}

.event-container.right .content {
//   padding: 30px 30px 30px 90px;
//   border-radius: 500px 0 0 500px;
}

.event-container .content h2 {
  margin: 0 0 10px 0;
  font-size: 1.1rem;
  font-weight: normal;
  color: #006E51;
}

.event-container .content ul {
  margin: 0;
  font-size: .9rem;
  line-height: 22px;
}

@media (max-width: 767.98px) {
    .timeline {
        overflow-y: scroll;
    }
  .timeline::after {
    left: 10px;
  }

  .event-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 30px;
  }

  .event-container .content h2 {
      font-size: 1rem;
  }

  .event-container .content ul {
      font-size: .8rem;
  }

  .event-container.right {
    left: 0%;
  }

  .event-container.left::after, 
  .event-container.right::after {
    left: 82px;
    display: none;
  }

  .event-container.left::before,
  .event-container.right::before {
    left: 97px;
    border-color: transparent #006E51 transparent transparent;
    display: none;
  }

  .event-container.left .date,
  .event-container.right .date {
    right: auto;
    left: 0px;
    font-size: .7rem;
    border: 1px solid #f44336bd;
    border-radius: 3px;
    padding: 4px;
    background-color: #f7f7f7;
  }

  .event-container.left .icon,
  .event-container.right .icon {
    right: auto;
    left: 146px;
  }

  .event-container.left .content,
  .event-container.right .content {
    // padding: 30px 30px 30px 90px;
    // border-radius: 500px 0 0 500px;
  }

  .event-container .content {
      padding: 15px;
  }
}